<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    crossorigin="anonymous">
    
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
	<div class="container my-4">
        <h1>Pengaturan Karyawan</h1>
        <hr>
        <h2>Tambah Karyawan</h2>

        <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
        
            <input type="text" th:field="*{nama_kar}" placeholder="Nama Karyawan" required  class="form-control mb-4 col-4">

            <input type="text" th:field="*{tgl_msk}" placeholder="Tanggal Masuk" required class="form-control mb-4 col-4">

            <input type="text" th:field="*{no_hp}" placeholder="Nomor Hp (Harus Angka)" required class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{lim_reimburse}" required placeholder="Limit Reimburse (Harus Angka)" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Save Karyawan</button>
        </form>

        <hr>

        <a th:href="@{/}"> Kembali ke Daftar Karyawan</a>
    </div>
</body>
</html>